<html>
  <head>
    <title>Login Atacado</title>
    <link rel='icon' type='image/png' href='/image/logo.png' />
    <link rel='stylesheet' href='/css/login.css' />
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/all.css' />
    <link rel='stylesheet' href='/css/sweetalert2.min.css' />
    <script type='text/javascript' src='/js/jquery.min.js'></script>
    <script type='text/javascript' src='/js/login.js'></script>
    <script type='text/javascript' src='/js/sweetalert2.all.min.js'></script>
  </head>
  <body>
    <div class='container'>
      <div class='d-flex justify-content-center h-100'>
        <div class='card'>
          <div class='card-header'>
            <h3>Entrar</h3>
          </div>
          <div class='card-body'>
            <form>
              <div class='input-group form-group'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'><img
                      class='icon'
                      src='/icon/user.png'
                    /></span>
                </div>
                <input
                  type='text'
                  class='form-control'
                  name='email'
                  placeholder='Email'
                />

              </div>
              <div class='input-group form-group'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'><img
                      class='icon'
                      src='/icon/password.png'
                    /></span>
                </div>
                <input
                  type='password'
                  class='form-control'
                  name='password'
                  placeholder='Senha'
                />
              </div>
              <div class='form-group'>
                <input
                  type='submit'
                  value='Logar'
                  class='btn float-right login_btn'
                  id='submit'
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>